# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/
.DS_Store
/classwork/report_files
/classwork/report_files/figure-latex
/classwork/report_files/figure-latex
/classwork/report_files
classwork/report_files/figure-latex/unnamed-chunk-47-1.pdf
classwork/report_files/figure-latex/unnamed-chunk-46-1.pdf
classwork/report_files/figure-latex/unnamed-chunk-45-1.pdf
classwork/report_files/figure-latex/unnamed-chunk-47-1.pdf
classwork/report_files/figure-latex/unnamed-chunk-46-1.pdf
classwork/report_files/figure-latex/unnamed-chunk-45-1.pdf
classwork/report_files/figure-latex/unnamed-chunk-44-1.pdf
classwork/report_files/figure-latex/unnamed-chunk-43-1.pdf
classwork/report_files/figure-latex/unnamed-chunk-42-1.pdf
classwork/report_files/figure-latex/unnamed-chunk-41-1.pdf
classwork/report_files/figure-latex/unnamed-chunk-40-1.pdf
classwork/report_files/figure-latex/unnamed-chunk-39-1.pdf
classwork/report_files/figure-latex/unnamed-chunk-38-1.pdf
classwork/report_files/figure-latex/unnamed-chunk-37-1.pdf
classwork/report_files/figure-latex/unnamed-chunk-38-1.pdf
classwork/report_files/figure-latex/unnamed-chunk-36-1.pdf
classwork/report_files/figure-latex/unnamed-chunk-35-1.pdf
classwork/report_files/figure-latex/unnamed-chunk-33-1.pdf
classwork/report_files/figure-latex/unnamed-chunk-32-1.pdf
classwork/report_files/figure-latex/unnamed-chunk-31-1.pdf
classwork/report_files/figure-latex/unnamed-chunk-30-1.pdf
classwork/report_files/figure-latex/unnamed-chunk-29-1.pdf
classwork/report_files/figure-latex/unnamed-chunk-28-1.pdf
classwork/report_files/figure-latex/unnamed-chunk-22-1.pdf
classwork/report_files/figure-latex/unnamed-chunk-18-1.pdf
classwork/report_files/figure-latex/unnamed-chunk-17-1.pdf
classwork/report_files/figure-latex/unnamed-chunk-16-1.pdf
classwork/report_files/figure-latex/unnamed-chunk-15-1.pdf
classwork/report_files/figure-latex/unnamed-chunk-14-1.pdf
classwork/report_files/figure-latex/unnamed-chunk-13-1.pdf
classwork/report_files/figure-latex/unnamed-chunk-12-1.pdf
